*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    width: 50%;
    margin: auto;
    margin-bottom: 18px;
    margin-top: 10px;
}
.logo{
    height: 40px;
}
.indirizzo{
    padding-left: 0px;
}
.indirizzo ul{
    margin-top: 10px;
    font-size: 0px;
}
.indirizzo li{
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 13px;
}
.indirizzo li a{
    text-decoration: none;
    color: grey;
}
.container1{
    width: 50%;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 5px;
}
.sfondo{
    background-image: url("img/banner.jpg");
    width: 100%;
    height: 600px;
    background-size: 100%;
    border-radius: 20px;
}
.overlay{
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 600px;
    border-radius: 20px;
}
.testo{
    padding-left: 40px;
    padding-top: 400px;
    word-wrap: break-word;
    width: 60%;
    color: white;
}
.titolo{
    font-size: 30px;
}
.container2{
    width: 50%;
    margin: auto;
    background-color:rgb(126, 206, 252);
    margin-bottom: 5px;
    padding-top: 50px;
    height: 600px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.inner-float1{
    float: left;
    width: 19%;
    margin-right: 1%;
}
.overlay1{
    background-color:rgba(0, 0, 0, 0.2);
    height: 150px;
    border-radius: 10px;
    width: 100%;
}
.img-1{
    background-image: url("img/img-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 10px;
}
.inner-float2{
    float: left; 
    width: 60%;
    margin-right: 1%;
}
.banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/banner-2.jpg");
    height: 150px;
    border-radius: 10px;
}
.inner-float3{
    float: left;
    width: 19%;
}
.img-3{
    background-image: url("img/img-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 10px;
}
.text-float1{
    word-wrap: break-word;
}
.container3{
    width: 50%;
    margin: auto;
    background-color:rgb(221, 0, 129);
    height: 20px;
}
.debug .container{
    border: 2px dashed red;
    height: 250px;
}